@import url("../fonts/fanwood/stylesheet.css");
@import url("../fonts/spartan/stylesheet.css");
@import url("../fonts/chunk/stylesheet.css");


body {
	background-color: #f00;
	overflow-x: hidden;;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
}

#slideshow {
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
   	font-size: 0;
   	display: inline-block;
}

.slideshowImage {
	position:relative;
	float:none;
	border: none;
	padding: 0px;
	margin: 0px;
}

#menu_logo {
	height: 80px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	-webkit-filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.75) ) brightness( 100% );
    filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.75) ) brightness( 100% );
}
#menu_logo:hover {
	-webkit-filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.0) ) brightness( 0% );
    filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.0) ) brightness( 0% );
}
#menu_logo path{
	fill:white;
}
#menu_logo:hover path{
	/*fill:black;*/
}

#menu {
	position: fixed;
	top:20px;
	z-index: 5;
}
#menuas {
	position: relative;
	top:30px;
	float: left;
}

.menuitem {
    float: left;
	transform-origin: 50% 50%;
	transition: all 0.2s ease-in-out;
	/*transform: scale(1.0);
	-webkit-transform: scale(1.0);*/
}

.menuitem:hover {
	/*transform: scale(1.1);
	-webkit-transform: scale(1.1);*/
}

#menu a {
	position: relative;
	font-size: 28px;
	font-family: 'Chunk';
	/*font-weight: bold;*/
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	padding: 0px 0px 0px 20px;
}

#menu a:link, #menu a:visited {
    color: #FFFFFF;
	font-weight: 900;
    text-shadow: 4px 4px 14px rgba(0,0,0,0.75);
}

#menu a:hover {
	/*color: #000000;*/
	text-decoration: none;
	color: #000000;
	font-weight: 1200;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.0);
}

#menu a:active {
}

.fb-page {
	position: absolute;
	top: 200px;
	left: 200px;
	width: 500px;
	z-index: 3;
	background-color: #FFFFFF;
    -webkit-box-shadow: 4px 4px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 14px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 14px rgba(0,0,0,0.75);
}

#contentainer {
    box-shadow: 4px 4px 14px rgba(0,0,0,0.75);
	font-family: 'Fanwood';
	position: absolute;
	color:#000;
	top: 200px;
	left:0px;
	width:600px;
	z-index:2;
	background-color: rgba(255,255,255,1);
	padding:40px;
}
#contentainer h1 {
	font-family: 'Chunk';
}
#contentainer p {
	font-size: 24px;
}
.x {
	font-family: 'Arial';
	position: absolute;
	font-size: 24px;
	top:5px;
	right:15px;
	cursor: pointer;
	background-color: #fff;
	padding: 3px;
	z-index:10;
}