@import url("../fonts/fanwood/stylesheet.css");
@import url("../fonts/spartan/stylesheet.css");
@import url("../fonts/chunk/stylesheet.css");
@import url("../fonts/GT-Cinetype-Mono-web/stylesheet.css");

/*@import url("gallery.css");*/

body {
	/*background-image: url("../img/bg/wang_bckgrnd_001.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
	/*-webkit-filter: saturate(0);*/
}

#slideshow {
	position:fixed;
	top:0px;
	left:0px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
   	font-size: 0;
   	display: inline-block;
   	z-index: 21474;
   	pointer-events: none;
}

.slideshowImage {
	position:absolute;
	float:none;
	border: none;
	padding: 0px;
	margin: 0px;
   	pointer-events: auto;
}

.menuitem {
	pointer-events: auto;
	position: absolute;
	cursor: pointer;
}

#menu_logo svg {
	height: 80px;
	width: 160px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

#menu_logo {
	position: absolute;
	top:20px;
	left:20px;
   	z-index: 2147483647;
}

#menu_logo svg path{
	transition: all 0.5s ease-in-out;
}

#menuGallery {
	position: absolute;
	bottom:20px;
	left:20px;
}
#menuFacebook {
	position: absolute;
	top:20px;
	right:20px;
}
#menuInstagram {
	bottom:20px;
	right:20px;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2147483645;
	width: 100%;
	height: 100%;
	pointer-events: none;
}


#menu a {
	position: relative;
	font-size: 2em;
	font-family: 'Cinetype';
	/*font-weight: bold;*/
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	text-transform: uppercase;
}

#menu a:link, #menu a:visited {
    color: #000000;
	font-weight: 900;
    text-shadow: 4px 4px 14px rgba(1,1,1,0.75);
}

#menu a:hover {
	/*color: #fff000;*/
	text-decoration: none;
	color: #ff0000;
	font-weight: 1200;
    text-shadow: 2px 2px 4px rgba(1,1,1,0.0);
}

#content {
	/*background-color: #fea;*/
	/*background-color: #ff0000;*/
	font-family: 'Cinetype';
	position: absolute;
	color:#000;
	z-index:10;
	padding:0px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
}/*
#content h1 {
	display: inline-block;
	font-family: 'Cinetype';
	font-size: 4em;
	text-transform: uppercase;
}
#content p {
	display: inline-block;
	font-size: 2em;
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
}*/
.content_text {
	vertical-align: top;
	display: inline-block;
	/*background-color: #faa;*/
	text-align: left;
}
.content_text p {
	display: inline-block;
	font-family: 'Cinetype';
	font-size: 1em;
	text-transform: uppercase;
}

#content table {
	display: inline-block;}
td {
	padding: 0em 3em 0em 3em;
	width: 30%;
	vertical-align: top;
}

#contactContent {
    /*box-shadow: 4px 4px 14px rgba(0,0,0,0.75);*/
	font-family: 'Cinetype';
	text-transform: uppercase;
	position: absolute;
	color:#000;
	top: 0px;
	left:0px;
	width:600px;
	z-index:2;
	/*background: #fff; url("../img/20141215-yamahaengineapart.jpg");
	background-size: cover;*/
	padding:0px 0px 0px 0px;
}
#contactContent h1 {
	font-family: 'Cinetype';
	text-transform: uppercase;
	font-size: 2em;
	font-weight: normal !important;
}
#contactContent p {
	font-size: 2em;
}
#contactMap {
	position: relative;
	float: left;
	margin: 1em 0px 0px 0px;
	-webkit-filter: saturate(0);
	z-index:-101 !important;
}
#contactText {
	margin: 140px 0px 0px 0px;
}

#gallery {
	position: absolute;
	padding-top: 140px;
	padding-bottom: 140px;
	text-align: center;
}

.imagearea {
	float: center;
    display: inline-block;
}
.contentainer {
	display: none;
	float: center;
	margin:0px;
	padding:0px;
}
.contentainerImg {
	float: left;
	padding: 2em;
}
.contentainerText {
	font-family: 'Cinetype';
	text-transform: uppercase;
	font-size: 1em;
	font-weight: normal !important;
	padding: 2em;
}
.contentainerText h1 {
	font-size: 1em;
}
.contentainerText p {
	font-size: 1em;
}
