@import url("../fonts/fanwood/stylesheet.css");
@import url("../fonts/spartan/stylesheet.css");


body {
	background-color: #000;
}

#slideshow {
	position:absolute;
	top:0px;
	left:0px;
}

.slideshowImage {
	position:relative;
	float:left;
}

#menu_logo {
	height: 80px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	-webkit-filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.75) ) brightness( 100% );
    filter: drop-shadow( 4px 4px 14px rgba(0,0,0,0.75) ); /* Same syntax as box-shadow */
}
#menu_logo:hover {
	-webkit-filter: drop-shadow( 4px 4px 4px rgba(1,1,1,0.0) ) brightness( 0% );
    filter: drop-shadow( 4px 4px 4px rgba(255,255,255,0.75) ); 
}
#menu_logo path{
	fill:white;
}
#menu_logo:hover path{
	/*fill:black;*/
}

#menu {
	position: fixed;
}
#menuas {
	position: relative;
	top:30px;
	float: left;
}

.menuitem {
    float: left;
	transform-origin: 50% 50%;
	transition: all 0.2s ease-in-out;
	/*transform: scale(1.0);
	-webkit-transform: scale(1.0);*/
}

.menuitem:hover {
	/*transform: scale(1.1);
	-webkit-transform: scale(1.1);*/
}

#menu a {
	position: relative;
	font-size: 28px;
	font-family: 'Fanwood';
	/*font-weight: bold;*/
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	padding: 0px 0px 0px 20px;
}

#menu a:link, #menu a:visited {
    color: #FFFFFF;
	font-weight: 900;
    text-shadow: 4px 4px 14px rgba(0,0,0,0.75);
}

#menu a:hover {
	/*color: #000000;*/
	text-decoration: none;
	color: #000000;
	font-weight: 1200;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.0);
}

#menu a:active {
}